/* #region common */
body {
  font-family: "Inter", sans-serif;
  background-color: #0e1823;
  background-image: url("../images/yacht-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% 800px;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}
/* #endregion common */

/* #region header */
.header {
  border: 1px solid #fbfbfb;
  border-radius: 8px;
  width: 1240px;
  height: 48px;
  background-color: #fbfbfb;
  display: flex;
  align-items: center;
}

.header .container {
  display: flex;
  justify-content: space-between;
  padding: 0 30px;
}

.header-logo {
  font-weight: 500;
  font-size: 20px;
  letter-spacing: -0.03em;
  color: #1b414b;
}
.header-nav {
}

.header-nav-list {
  display: flex;
  gap: 4px;
}
.nav-link {
  font-weight: 400;
  font-size: 9px;
  line-height: 1.3;
  text-transform: uppercase;
  text-align: center;
  color: #fbfbfb;

  padding: 15px 25px;
  border-radius: 8px;
  background-color: rgba(27, 65, 75, 0.5);
}

.nav-link:hover,
.nav-link:focus {
  background-color: #1b414b;
}

.header-social-icons {
  display: flex;
  gap: 8px;
}
.header-social-icon-link {
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.header-social-icons-list {
}
.header-social-icon-svg {
  fill: #1b414b;
}

.header-social-icon-svg:hover,
.header-social-icon-svg:focus {
  fill: #062730;
}
/* #endregion header */

/* #region hero */
.hero {
}
.hero-title {
}
.hero-text {
}
.hero-btn {
}
/* #endregion hero */

/* #region about */
.about {
}
.about-title {
}
.about-subtitle {
}
.about-text {
}
.about-img {
}
/* #endregion about */

/* #region yacht-selection */
.yacht-selection {
}
.selection-title {
}
.selection-list {
}
.selection-item {
}
.selection-image {
}
.selection-name {
}
.selection-subname {
}
.spec-list {
}
.selection-spec {
}
.selection-value {
}
.selection-btn {
}
/* #endregion yacht-selection */

/* #region benefits */
.benefits {
}
.benefits-title {
}
.benefits-list {
}
.benefits-item {
}
.benefits-number {
}
.benefits-text {
}
.benefits-img {
}
/* #endregion benefits */

/* #region rentform */
.rentform {
}
.rentform-img {
}
.rentform-form {
}
.rentform-title {
}
.rentform-input {
}
.rentform-textarea {
}
.rentform-btn {
}
/* #endregion rentform */

/* #region reviews */
.reviews {
}
.reviews-title {
}
.reviews-text {
}
.reviews-list {
}
.reviews-item {
}
.reviews-avatar {
}
.reviews-name {
}
.reviews-comment {
}
/* #endregion reviews */

/* #region footer */
.footer {
}
.footer-logo {
}
.footer-nav {
}
.footer-nav-list {
}
.footer-nav-item {
}
.footer-nav-link {
}
.footer-social-icons {
}
.footer-social-icons-list {
}
.footer-social-icon-svg {
}
.footer-subtitle {
}
.footer-copyright {
}
.footer-privacy {
}
/* #endregion footer */
