/* #region common */
body {
  font-family: "Inter", sans-serif;
  background-color: #0e1823;
  background-image: url("../images/yacht-hero.jpg");
  background-repeat: no-repeat;
  background-size: 100% 800px;
  max-width: 1440px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ol,
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  padding: 0;
}

.container {
  width: 100%;
  max-width: 1240px;
  padding: 0 15px;
  margin-left: auto;
  margin-right: auto;
}
/* #endregion common */

/* #region header */
.header {
}
.header-logo {
}
.header-nav {
}
.header-nav-list {
}
.nav-link {
}
.header-social-icons {
}
.header-social-icons-list {
}
.header-social-icon-svg {
}
/* #endregion header */

/* #region hero */
.hero {
}
.hero-title {
}
.hero-text {
}
.hero-btn {
}
/* #endregion hero */

/* #region about */
.about {
}
.about-title {
}
.about-subtitle {
}
.about-text {
}
.about-img {
}
/* #endregion about */

/* #region yacht-selection */
.yacht-selection {
}
.selection-title {
}
.selection-list {
}
.selection-item {
}
.selection-image {
}
.selection-name {
}
.selection-subname {
}
.spec-list {
}
.selection-spec {
}
.selection-value {
}
.selection-btn {
}
/* #endregion yacht-selection */

/* #region benefits */
.benefits {
}
.benefits-title {
}
.benefits-list {
}
.benefits-item {
}
.benefits-number {
}
.benefits-text {
}
.benefits-img {
}
/* #endregion benefits */

/* #region rentform */
.rentform {
}
.rentform-img {
}
.rentform-form {
}
.rentform-title {
}
.rentform-input {
}
.rentform-textarea {
}
.rentform-btn {
}
/* #endregion rentform */

/* #region reviews */
.reviews {
}
.reviews-title {
}
.reviews-text {
}
.reviews-list {
}
.reviews-item {
}
.reviews-avatar {
}
.reviews-name {
}
.reviews-comment {
}
/* #endregion reviews */

/* #region footer */
.footer {
}
.footer-logo {
}
.footer-nav {
}
.footer-nav-list {
}
.footer-nav-item {
}
.footer-nav-link {
}
.footer-social-icons {
}
.footer-social-icons-list {
}
.footer-social-icon-svg {
}
.footer-subtitle {
}
.footer-copyright {
}
.footer-privacy {
}
/* #endregion footer */
